.form-container{
   
    width: 600px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    height: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   
}
.form-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
}
.input-group{
    margin-top: 20px;
}
.input-group input{
    width: 415px;
    height: 30px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;

}
.form-submit{
  
    background-color: goldenrod;
    margin-top: 30px;
    width: 415px;
    height: 45px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}